<div class="container py-4">
	<% actions = capture do %>
		<%= link_to t(".back"), article_path(@article), class: "btn btn-soft" %>
	<% end %>

	<%= render "shared/ui/page_header",
		title: t(".title"),
		subtitle: t(".subtitle"),
		actions: actions %>

	<%= render "form", article: @article %>
</div>
