<div class="container py-4">
	<% actions = capture do %>
		<%= link_to "Retour au blog", articles_path, class: "btn btn-soft" %>
	<% end %>

	<%= render "shared/ui/page_header",
		title: "Nouvel article",
		subtitle: "Publiez une idée de balade ou de découverte.",
		actions: actions %>

	<%= render "form", article: @article %>
</div>
