<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1 lv-shadow-sm" role="alert" data-controller="auto-dismiss" data-auto-dismiss-delay-value="5000">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1 lv-shadow-sm" role="alert" data-controller="auto-dismiss" data-auto-dismiss-delay-value="7000">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
