<div class="banner">
  <div class="container">
    <h1>Bienvenue chez <strong>Claude</strong> à <strong>Anglès</strong>!</h1>
    <p>Maison et chambres d'hôtes sur la route de Saint Jacques de Compostelle</p>
    <a class="btn btn-flat" href="#">Réservation</a>
  </div>
</div>

<h1>Hébergements</h1>

<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
  <% end %>
</ul>
