<h1><%= @room.name %></h1>

<% if @room.description.present? %>
  <p><%= @room.description %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Request booking", new_room_booking_path(@room) %>
<% else %>
  <p><%= link_to "Log in", new_user_session_path %> to request a booking.</p>
<% end %>
