.navbar-lewagon {
  justify-content: space-between;
  background: rgba($lv-background, 0.92);
  border-bottom: 1px solid rgba($lv-primary, 0.18);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
